/* You can add global styles to this file, and also import other style files */
@import "purecss/build/pure.css";

body, html {
  background: #eee;
}

.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221);
}

.box {
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: auto;
  background: white;
  text-align: center;
}
