@import '~src/assets/scss/vars.scss';

:host {
  width: 100%;
  min-height: calc(100vh - 44px);
  display: flex;
  align-items: center;
  background: $bg_dim;
}

.login-box {
  padding: 20px;
  width: 350px;
  height: 180px;
}

.button-box {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.fieldset {
  width: 250px;
  margin: auto;

  input {
    width: 250px;
  }
}

.username-button {
  margin-bottom: 5px;
}
