

<div class="login-box box">
  <form
    [formGroup]="form"
    (submit)="formOnSubmit()"
    class="pure-form"
  >
    <div class="fieldset">
      <legend>Login</legend>
      <input
        class="username-button"
        formControlName="username"
        placeholder="Username"
        type="text"
      >
      <input
        autocomplete
        formControlName="password"
        placeholder="Password"
        type="password"
      >
    </div>

    <div class="button-box fieldset">
      <button
        class="pure-button pure-button-primary"
        type="submit"
      >
        Login
      </button>
      <button
        class="pure-button button-secondary register-button"
        type="button"
        routerLink="/register"
      >
        Register
      </button>
    </div>
  </form>
</div>


