:host {
  height: calc(100vh - 44px);
  display: block;
}

.phrases-box {
  height: calc(100vh - 44px - 35px);
  min-width: 800px;
  overflow-y: scroll;
  align-self: center;
}

.phrase-string {
  padding: 4px;
  margin-bottom: 1px;
  display: flex;
  background: white;
  word-break: break-word;

  .phrase-text {
    padding: 10px;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    background: white;
  }

  .phrase-date {
    padding: 13px;
    font-size: 0.6em;
    color: grey;
    background: white;
  }

}

.fromMe {
  justify-content: start;
  .phrase-text {
    background: rgb(206, 255, 206);
  }
}

.fromHim {
  justify-content: space-between;
  .phrase-text {
    background: rgb(177, 203, 255);
  }
}

.chat-area {
  &__input-form {
    display: flex;
    &-text {
      flex: auto;
      border-radius: 0 !important;
    }
    &-button {
      flex: none;
    }
  }
}
