<div class="phrases-box">
  <div
    #phrasesBox
    *ngFor="let phrase of phrases"
    class="phrase-string"
    [class.fromMe]="chatService.userId===phrase.from"
    [class.fromHim]="chatService.userId===phrase.to"
    [id]="phrase.createdAt.getTime()"
  >
    <span class="phrase-date">{{ phrase.createdAt | date : 'HH:mm' }}</span>
    <span class="phrase-text">{{ phrase.text }}</span>
  </div>
</div>
<form
  [formGroup]="inputForm"
  (submit)="inputFormOnSubmit($event)"
  class="pure-form"
>
  <input
    type="text"
    formControlName="input"
    class="text-input"
  >
  <input
    type="submit"
    value="Send"
    class="pure-button"
  >
</form>
